@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Solway:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Solway:wght@800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

  * {
    background-color: rgb(247, 236, 225);
    padding: 0;
    margin: 0;
    
  }

  

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: rgb(72, 82, 146);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1000;
    box-shadow: 0 0 2px var(--grey-color-light);
    background-color: rgb(72, 82, 146);
    
  }
  .item {
    margin-left: 89px;
    margin-right: 30  px;
    background-color: rgb(72, 82, 146);
    font-size: 20px;
    }
  .logo_item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: white;
    background-color: rgb(72, 82, 146);
    display: flex;
    margin: auto 0;
    font-size: 25px;
    font-family: 'Tilt Warp';
    background-color: transparent;
  }
  .navbar img {
    width: 35px;
    height: 35px;   
    border-radius: 50%;
  }
  
  .navbar_content {
    display: flex;
    align-items: center;
    column-gap: 25px;
  }
  .navbar_content i {
    cursor: pointer;
    font-size: 20px;
    color: var(--grey-color);
  }



.HeadingContainer {
    
  display: flex;
    background-color: rgb(103, 94, 103);
    position: relative;
  text-align: center;
  color: white;
  justify-content: center;
  margin: 1px;
  flex: 1;
  padding-top: 3%;
  padding-bottom: 1%;
  margin: 0;
  height: 25%;
  width: 100%;
}

 

 #centermargin {
  margin-left: 27.5%;
  margin-right: 12.5%;
  font-size: 1.7vw;
 }
 
 .Group {
  flex-direction: row;
  display: flex;
 }
 

 .HeadingContainer > img {
    width: 35%;
    height: fit-content;
    filter: brightness(75%);
    background-color: transparent;

}

 .menucontainer1 > img {
  width: 75%;
  height: fit-content;
  justify-self: center;
  position: relative;
  margin: 12.5%;
  border-radius: 4%;
  border: 6px solid grey;
  position: relative;
  margin-top: 0;
 }

 .menucontainer1 {
 width: 50%;
 height: 800px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10%;
 }

 .menutextcontainer {
  border:  6px grey solid;
  border-radius: 4%;
  width: 71%;
  padding: 1vw;
  margin-left: 12.5%;
  margin-right: 12.5%;
  position: relative;
  margin-bottom: 12.5%;
 }
  .menusubtitle {
    font-family: 'Shadows Into Light';
    font-style: normal;
    font-weight: 400; 
    font-size: 7vw ;
    justify-content: center;
    display: flex;
    text-align: center;
  
  }

.abovecentered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5vw;
  font-family: 'Tilt Warp';
  margin: 1px;
  background-color: transparent;
  }
.centered  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  font-family: 'Tilt Warp';
  background-color: transparent;
  margin: 1px;
  
  
  
  
  
  
  
  
 
    }

    .square {
        height: 80px;
        width: 3px;
        background-color: #555;
        margin-left: 50%;
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .square2 {
        height: 3px;
        width: 500px;
        background-color: #555;
        margin-left: 50%;
        margin-top: 15px;
        margin-bottom: 15px;
      
      }

    .square3 {
      height: 330px;
      width: 180px;
      border: 3px solid;
      background-color: rgb(74, 78, 104);
      margin: 50px;

    }
    .LineBreaker {
       justify-content: center;
       margin-top: 60px;
    }

    .textsection {

      display: flex;
      flex-direction: row;
      margin: 1px;
      justify-content: center;
    }

    .textsection2 {
      display: flex;
      text-align: left;
      flex-direction: column;
      width: 500px;
      
    }

    .text {
      font-family: 'Solway', serif;
      justify-content: center;
        justify-self: center;
        display: flex;
        margin: auto 0;
        color: black;
        font-size: 25px;
        margin-bottom: 20px;
        font-style: 'medium';
        font-weight: 500;
     
    } 

    .text2 {
      justify-content: left;
      justify-self: left;
      display: flex;
      margin: auto 0;
      font-family: 'Work Sans';
      font-style: 'ExtraBold';
      font-weight: 800;
      color: black;
      font-size: 2.3vw;
      margin-left: 50px ;
      width: max-content;
      margin-bottom: 5px;
  }
  .text3 {
      justify-content: left;
      justify-self: left;
      display: flex;
      margin: auto 0;
      font-family: 'Work Sans';
      font-style: 'medium';
      font-weight: 500;
      color: black;
      font-size: 1.3vw;
      margin-left: 50px ;
      margin-top: 2px;
  }
 
  .subtitle {
    display: flex;
    justify-self: center;
      justify-content: center;
      font-family: 'Raleway', Georgia, 'Times New Roman', Times, serif;
      font-weight: 300;
      font-style: light;
      font-size: 45px;
  }

  .square4 {
    height: 250px;
    width: 250px;
    border: 3px solid;
    background-color: rgb(74, 78, 104);
    margin: 50px;
  }

  #namemargin {
    margin-left: 5px;
    margin-right: 5px
  }
  
  #menusize {
  font-size: 75px;

  }
  
  .container{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .animated{
    width: 400px;
    height: 221px;
    background-position: center;
    background-size: cover;
   
  }

  
 
  
  .fadeinLeft{
    background-image: url(https://www.onceuponachef.com/images/2017/12/cheesecake-1200x1393.jpg);
    -webkit-animation: fadeinLeft 1.2s both;
    -moz-animation: fadeinLeft 1.2s both;
    -o-animation: fadeinLeft 1.2s both;
    animation: fadeinLeft 1.2s both;

  }

  @-webkit-keyframes fadeinLeft {
    0%{
      opacity: 0;
      -webkit-transform: translateX( -50px)
    }
    100%{
      opacity: 1;
      -webkit-transform:translateX(0);
    }
  }
  @-moz-keyframes fadeinLeft {
    0%{
      opacity: 0;
      -moz-transform: translateX( -50px)
    }
    100%{
      opacity: 1;
      -moz-transform:translateX(0);
    }
  }
  @-o-keyframes fadeinLeft {
    0%{
      opacity: 0;
      -o-transform: translateX( -50px)
    }
    100%{
      opacity: 1;
      -o-transform:translateX(0);
    }
  }
  @keyframes fadeinLeft {
    0%{
      opacity: 0;
      transform: translateX( -50px)
    }
    100%{
      opacity: 1;
      transform:translateX(0);
    }
  }

  .fadeinRight{

    background-image: url(https://www.jocooks.com/wp-content/uploads/2018/11/cheesecake-1-22.jpg);
    -webkit-animation: fadeinRight 1.2s both;
    -moz-animation: fadeinRight 1.2s both;
    -o-animation: fadeinRight 1.2s both;
    animation: fadeinRight 1.2s both;

  }


  @-webkit-keyframes fadeinRight {
    0%{
      opacity: 0;
      -webkit-transform: translateX( 50px)
    }
    100%{
      opacity: 1;
      -webkit-transform:translateX(0);
    }
  }
  @-moz-keyframes fadeinRight {
    0%{
      opacity: 0;
      -moz-transform: translateX( 50px)
    }
    100%{
      opacity: 1;
      -moz-transform:translateX(0);
    }
  }
  @-o-keyframes fadeinRight {
    0%{
      opacity: 0;
      -o-transform: translateX( 50px)
    }
    100%{
      opacity: 1;
      -o-transform:translateX(0);
    }
  }
  @keyframes fadeinRight {
    0%{
      opacity: 0;
      transform: translateX( 50px)
    }
    100%{
      opacity: 1;
      transform:translateX(0);
    }
  }
 
  .fadeinTop{

    background-image: url(https://joyfoodsunshine.com/wp-content/uploads/2022/03/best-cheesecake-recipe-6.jpg);
    -webkit-animation: fadeinTop 1.2s both;
    -moz-animation: fadeinTop 1.2s both;
    -o-animation: fadeinTop 1.2s both;
    animation: fadeinTop 1.2s both;

  }

  @-webkit-keyframes fadeinTop {
    0%{
      opacity: 0;
      -webkit-transform: translateY( -50px)
    }
    100%{
      opacity: 1;
      -webkit-transform:translateY(0);
    }
  }
  @-moz-keyframes fadeinTop {
    0%{
      opacity: 0;
      -moz-transform: translateY( -50px)
    }
    100%{
      opacity: 1;
      -moz-transform:translateY( 0);
    }
  }
  @-o-keyframes fadeinTop {
    0%{
      opacity: 0;
      -o-transform: translateY( -50px)
    }
    100%{
      opacity: 1;
      -o-transform:translateY(0);
    }
  }
  @keyframes fadeinTop {
    0%{
      opacity: 0;
      transform: translateY( -50px)
    }
    100%{
      opacity: 1;
      transform:translateY(0);
    }
  }


  
  
  .fadeLeft{
    -webkit-animation: fadeinLeft 1.2s both;
    -moz-animation: fadeinLeft 1.2s both;
    -o-animation: fadeinLeft 1.2s both;
    animation: fadeinLeft 1.2s both;

  }

  @-webkit-keyframes fadeLeft {
    0%{
      opacity: 0;
      -webkit-transform: translateX( -50px)
    }
    100%{
      opacity: 1;
      -webkit-transform:translateX(0);
    }
  }
  @-moz-keyframes fadeLeft {
    0%{
      opacity: 0;
      -moz-transform: translateX( -50px)
    }
    100%{
      opacity: 1;
      -moz-transform:translateX(0);
    }
  }
  @-o-keyframes fadeLeft {
    0%{
      opacity: 0;
      -o-transform: translateX( -50px)
    }
    100%{
      opacity: 1;
      -o-transform:translateX(0);
    }
  }
  @keyframes fadeLeft {
    0%{
      opacity: 0;
      transform: translateX( -50px)
    }
    100%{
      opacity: 1;
      transform:translateX(0);
    }
  }
  












  














  .scrollFade {
    opacity: 1;
    pointer-events: all;
    
  }
  
  .scrollFade--hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .scrollFade--visible {
    opacity: 1;
    pointer-events: all;
  }
  
  .scrollFade--animate {
    transition: opacity 0.4s ease-in-out;
  }
 
  a:link {
    color: white;
    background-color: transparent;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
  }
  
  a:focus {
    color: white;
    background-color: transparent;
  }
  
  a:hover {
    color: white;
    background-color: transparent;
  }
  
  a:active {
    color: white;
    background-color: transparent;
  }

  * {
    text-decoration: none;
  }
